.Banner{
    height: 450px;
    width: 100%;
    background: rgb(227, 227, 227);
}
.Banner img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    width: 300px;
    color: #3B1D98;
}
